body{
background: #F1F9FF;
}
/*start teambox*/
.title{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
    margin-left: 145px;
    color: #021B31;
}
.subtitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C1C1C1;
    margin: 30px 0 20px 20px;
    
}
.teambox{
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    margin-left: 145px;
    min-width: 400px;
    width: 100%;
    max-width: 800px;
}
.teambox__list {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #021B31;
    padding: 0 15px 20px 20px;
}
.teambox__item{
    margin: 0px;
    padding: 0px;
}
.list::before{
    
    margin: 0 10px;
    width: 10px;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #F8F8F8;
    border-radius: 5px;
    justify-content: space-between;
    
}
.list__position-left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.list__position-right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.list__name{
    width: 290px;
}
.list:nth-child(even){
    background-color: white;
}
.list__item {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 250px;
    font-weight: 700;
    color:#525252;
}
.list__item_short{
    width: 130px;
}
.trainer{
    width: 200px;
    text-align: right;
    margin: 0 0 0 19.5px;
}
.list__number{
    width: 30px;
    
    text-align: center;
}
.list__flag{
    margin: 0 19.5px;
    border: 1px solid #c4c4c4;
    border-radius:100px;
    box-sizing: border-box;
    
}
.list__text{
    width: 70px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 10px 0 19.5px;
}
/* end teambox */
/* start weatherbox */
.weatherbox{
    width: 240px;
    height: 320px;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
    background:url(images/stadion.png) 0 0/cover no-repeat;
    
    border-radius: 10px;
    margin: 10px;
    
}
.weatherbox__section{
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 320px;
    border-radius: 10px;
}
.weatherbox__city{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}
.weatherbox__section-top{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px 20px 0 20px;

}
.weatherbox__item_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.weatherbox__cloud{
    width: 50px;
}
.weatherbox__celsius{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
    padding-top: 5px;
    width: 80px;
    height: 40px;
}
.weatherbox__section-bottom{
    margin: 0 20px 20px 20px;
}
.weatherbox__line{
    border: 1px solid #FFFFFF80;
    width: 200.5px;
}
.weatherbox__location{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.weatherbox__icon{
    width: 20px;
    height: 20px;
}
.weatherbox__people{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weatherbox__text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    width: 200px;
    height: 30px;
}
.weatherbox__count{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    width: 80px;
    text-align: right;
    margin: 0px;
}
/* end weatherbox */