body{
background: #F1F9FF;
}
.title{
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
    margin-left: 145px;
    color: #021B31;
}
.subtitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #C1C1C1;
    margin: 30px 0 20px 20px;
    
}
.teambox{
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    margin-left: 145px;
    min-width: 400px;
    width: 1000px;
}
.teambox__list {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #021B31;
    counter-reset: soccers;
}
.teambox__item{
    margin: 0px;
    padding: 0 10px 0 20px;
}
.list::before{
    counter-increment: soccers;
    content: counter(soccers);
    margin: 0 10px;
    width: 10px;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #F8F8F8;
    border-radius: 5px;
    justify-content: space-between;
    
}
.list__position_left{
    display: flex;
    justify-content: flex-start;
    width: 600px;
}
.list__position_right{
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.list__name{
    width: 290px;
}
.list:nth-child(even){
    background-color: white;
}
.list__item {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 250px;
    font-weight: 700;
    color:#525252;
}
.trainer{
    width: 200px;
    text-align: right;
    margin: 0 10px;
}
.list__flag{
    margin: 0 19.5px;
    border: 1px solid #c4c4c4;
    border-radius:100px;
    box-sizing: border-box;
    
}
.list__text{
    width: 60px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 10px;
}
